* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#appUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 34px;
    background-color: #494949;
    font-size: larger;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
}

.signup {
    color: #181818;
    font-size: x-large;
    font-weight: bolder;
}

.signup-username {
    padding: 5px;
    text-decoration: none;
    color: #303030;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: #F2F2F2;
}

.btn {
    padding: 5px;
    color:#303030;
    font-weight: 600;
    background-color: #C2C2C2;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    width: 100px;
}

.btn:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}